li{list-style: none;}
a {color: inherit; text-decoration: inherit;}
* {margin: 0;padding: 0; box-sizing: border-box;}

.container-Artist{background: url(../../assets/img/IllitHomeimg/bg.png);padding: 16px;padding-bottom: 200px;position: relative;}

.Artisttop {display: flex;justify-content: space-between;align-items:flex-end;width: 100%;}
.Artisttop .img {margin-right: 20px;margin-top: 40px;}
.Artisttop .img img{border-radius: 10px;box-shadow: 0 0 13px rgba(0,0,0,0.25);width: 100%;border: 1px solid #000;}

.Artisttop .right {margin-top: 40px;}
.Artisttop .right .textbox {width: 150px;position: relative;}
.Artisttop .right .textbox .text {position: absolute;left: 50%;top: 25%;transform: translateX(-50%);text-align: center;width: 100%;font-size: 16px;}
.Artisttop .right .textbox img{width: 100%;}
.Artisttop .right .img2 {width: 140px;}
.Artisttop .right .img2 img{width: 100%;}

.Artistbottom{position:fixed ;bottom: 0;z-index: 999;width: 100%; background: none;left: 0;}
.Artistbottom nav ul{text-align: center;display: flex;justify-content: center;}
.Artistbottom nav ul li{margin-bottom: 20px;margin-right: 80px;}
.Artistbottom nav ul li:last-child {margin-right: 0;}
.Artistbottom nav ul li img{display: block;}
  
.nav-container {
position: relative;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;}

  /* 배경 박스 */
.nav-background {
position: relative;
width: 100%;
height: 130px;
background: linear-gradient(to bottom, #d2aaff,#fff5fe);
border-radius: 16px 16px 0 0;
box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

  /* 아이콘 그룹 (배경 위에 띄우기) */
.nav-row {position: absolute;}
.nav-row.first {top: -20px;}
.nav-row.second {top: 60px;}
