
.bgdm {background:linear-gradient(to bottom,#5dabff, #fff,#5dabff);min-height: 100vh;}
.container .message{margin-top: 30px;}
.container .message h3, .container .recommend h3{font-size: 18px; margin: 15px 0;}
.container .message ul li{display: flex; align-items: center; width: 100%; height: 90px;border-bottom:1px solid #fff;}
.container .message ul li img{width: 60px; height: 60px;}
.container .message ul li .right{ width: 90%; margin: 10px;}
.container .message ul li .right .top{display: flex; justify-content: space-between; width: 100%;padding: 5px 0;}
.container .message ul li .right .top .name{font-size: 16px;font-weight: 500;}
.container .message ul li .right .top .date{font-size: 14px;}
.container .message ul li .right .content{font-size: 15px;line-height: 1.4;}

.container .recommend{margin-top: 35px;}
.container .recommend ul{display: flex;}
.container .recommend ul li{margin-right: 10px;}
.container .recommend ul li p{text-align: center; font-size: 14px;}