.NewMv {margin-bottom: 23px;}
.Albums {margin-bottom: 23px;}
.bg {width:100%;position: fixed;z-index: -999;top: 0;left: 0;height: 1300px;}
.bg img {width: 100%;height: 100%;object-fit: cover;mask-image: none;}
/* .artistcontainer {padding-bottom: 100px;} */
.container.IllitHome {margin-top: 106px;}


.ArtistHeader {height: 106px;position: fixed;top: 0;left: 0;width: 100%;z-index: 999;}
.artistheaderbg {width: 100%;}
.IllitHomebg {position: fixed;top: 105px;left: 0;z-index: -999;width: 100%;height:auto;}
.IllitHomebg img {width: 100%;height: 100%;object-fit: cover;}