/* reset */
li{list-style: none;}
a {color: inherit; text-decoration: inherit;}
* {margin: 0;padding: 0; box-sizing: border-box;}
/* layout */
.container-morehome .profile{font-size: 18px; font-weight: 500;width: 90%; margin: 25px auto; display: flex ;align-items: center;}
.container-morehome .profile img{margin-right:10px;}
.container-morehome ul{width: 90%; margin: 0 auto;}
.container-morehome ul li{border-bottom: 1px solid #eee; height: 50px; align-items: center; display: flex;}
.container-morehome ul li a{display:flex;align-items: center; width: 100%;}
.container-morehome ul li .img{margin-right: 10px; width: 24px; display: inline-block; margin-right: 10px;}
.container-morehome ul li .img img{width: 100%; object-fit: cover;}