.cardlist ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0;
    list-style: none;
  }
  
  .artist-card {
    padding: 2px; /* 그라디언트 테두리 공간 */
    border-radius: 10px;
    background: #fff;
    transition: background 0.5s ;
    position: relative;
    border: 1px solid #ddd;

  }
  
  .artist-card:hover {
    background: linear-gradient(135deg,#007BFF,#7f80ff,#d1d8ff);transition: background 0.5s ;border: none;
  }

  .artist-inner {
    background: #fff;
    border-radius: 9px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  .artist-img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .artist-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
background: #fff;
  }
  
  .artist-name {
    font-size: 16px;
    font-weight: 500;text-align: center;
    color: #333;
  }
  
  .artist-logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    position: absolute;
    right: 14px;
    bottom: 34px;
  }