/* 공통 헤더 */
header{position: sticky;top: 0;z-index: 1000;display: flex;justify-content: space-between;align-items: center;width: 100%;padding: 20px 16px;box-sizing: border-box;}
header .title {font-size: 20px;font-weight: 600;text-align: center;}
header .more-button {opacity: 0;pointer-events: none;}
/* Main-Header */
header .nav  {display: flex;justify-content: space-between;}
header .nav li {margin-left: 10px;}
header .nav li img {width: 30px; image-rendering: auto;-webkit-backface-visibility: hidden;-webkit-transform: translate3d(0,0,0);}
header .logo {width: 50px;}

/* more 버튼 있는 버전 */
header.more .more-button {opacity: 1;}
header.illitheader{padding: 0;}
header.main{background: linear-gradient(#5DABFF,#C9E3FF);}

header.Alarm{background: linear-gradient(#5DABFF,#C9E3FF);}